@use '../../../styles/' as *;

.header-wrap-icon {
    position: relative;


    .sort-icon {
        padding-left: 5px;
        padding-top: 5px;
        position: absolute;
        cursor: pointer;
    }


}